<div class="container-sm">
  <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name :</label>
      <input formControlName="name" type="text" class="form-control" placeholder="Nom de l'album">
      <div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
        <p *ngIf="name?.errors?.['required']">Ce champs est requis.</p>
        <p *ngIf="name?.errors?.['minlength']">Ce champs doit avoir une longueur minimale de {{name?.errors?.['minlength']?.requiredLength}} caractères.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title :</label>
      <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
      <div *ngIf="title?.invalid && title?.touched" class="alert alert-danger">
        <p *ngIf="title?.errors?.['required']">Ce champs est requis.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="ref">Ref :</label>
      <input formControlName="ref" type="text" id="ref" placeholder="Ref" class="form-control">
      <div *ngIf="ref?.invalid && ref?.touched" class="alert alert-danger">
        <p *ngIf="ref?.errors?.['required']">Ce champs est requis.</p>
        <p *ngIf="ref?.errors?.['pattern']">Ce champs doit suivre le format d'expression régulière <strong><em>{{ref?.errors?.['pattern']?.requiredPattern}}</em></strong>. <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Guide/Regular_Expressions" target="_blank">En savoir plus sur les expressions régulières. </a></p>
      </div>
    </div>
    <div class="form-group">
      <label for="duration">Duration :</label>
      <input formControlName="duration" type="text" id="duration" class="form-control" placeholder="Duration secondes (s)">
      <div *ngIf="duration?.invalid && duration?.touched" class="alert alert-danger">
        <p *ngIf="duration?.errors?.['required']">Ce champs est requis.</p>
        <p *ngIf="duration?.errors?.['pattern']">Ce champs doit suivre le format d'expression régulière <strong><em>{{duration?.errors?.['pattern']?.requiredPattern}}</em></strong>. <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Guide/Regular_Expressions" target="_blank">En savoir plus sur les expressions régulières. </a></p>
        <p *ngIf="duration?.errors?.['max']">La valeur saisie ne doit pas être supérieure à {{duration?.errors?.['max']?.max}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <textarea formControlName="description" id="description" class="form-control" rows="3"></textarea>
      <div *ngIf="description?.invalid && description?.touched" class="alert alert-danger">
        <p *ngIf="description?.errors?.['required']">Ce champs est requis.</p>
      </div>
    </div>
    <br>
    <button [disabled]="albumForm.invalid" type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
