<div class="container-sm">
  <form [formGroup]="musicForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="album">Nom de l'album :</label>
      <input type="text" class="form-control" id="album" formControlName="name" required>

      <div class="alert alert-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <p *ngIf="name?.errors?.['required']">Le nom de l'album est requis</p>
        <p *ngIf="name?.errors?.['minlength']">
          Le nom de l'abum doit contenir
          {{name?.errors?.['minlength']?.["requiredLength"]}}
          caractère(s). Vous en avez fournis
          {{name?.errors?.['minlength']?.["actualLength"]}}
        </p>
      </div>

    </div>
    <div class="form-group">
      <label for="auteur">Auteur :</label>
      <input type="text" class="form-control" id="auteur" formControlName="auteur" required>
      <div class="alert alert-danger" *ngIf="auteur?.touched && (auteur?.pristine || auteur?.invalid)">L'auteur est requis</div>
    </div>
    <div class="form-group">
      <label for="style">Style de musique :</label>
      <select id="style" class="form-control" formControlName="style">
        <option disabled>Sélectionnez le genre de musique</option>
        <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
<!--
<div class="container-sm" [hidden]="!submitted">
  <h2>Vous avez soumis l'album suivant : </h2>
  <div class="row">
    <div class="col-md-3">Nom de l'album</div>
    <div class="col-md-9">
      <strong>{{ musicModel.name }}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Auteur</div>
    <div class="col-md-9">
      <strong>{{ musicModel.auteur }}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Style de musique:</div>
    <div class="col-md-9">
      <strong>{{ musicModel.style }}</strong>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary" (click)="submitted = false">Editer</button>
</div> -->
